.comment-index {

  left: 40px;
  list-style: none;
  /*display: flex;
  flex-direction: column;*/
  /*justify-content: space-around;*/
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.comment-index-item {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #afafaf;
  width: 70%;
  padding-bottom: 10px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.comment-index-item-username {
  font-size: medium;
  color: #f48342;
  margin-bottom: 20px;
  display: inline;
}

.comment-index-item a {
  text-decoration-color: #f48342;
}


.comment-index-item-body {
  font-size: large;
}

.comment-form-parent {
  width: 70%;
  height: 60px;
  margin-top: 30px;


}

.comment-form {
  width: 100%;
  height: 30px;
}
