.main {
  width: 100vw;
  height: 99vh;
  display: flex;
  flex-direction: row;
  background: linear-gradient(#fcd28f,#fcb13c);
  position: fixed;
}


.main-left {
  width: 40%;
  height: 100%
}

.main-right {
  width: 60%;
  height: 100%;
  overflow: hidden;
}
