.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  background: linear-gradient(#3f3f3f,#212121);
  height: 50px;
  top: 0px;
  left:0px;
  position: fixed;
  right: 0px;
  width: 100%;
  overflow: hidden;
  border: black 1px solid;
  z-index: 10;
}

.left {
  background-color: #f48342;
  height: 100%;
  width: 100px;
  position: relative;
  left: 15%;
  text-align: center;
  line-height: 50px;
  font-size: x-small;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background: linear-gradient(#f48342,#c4652f);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-logo{
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/cloud-2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  width: 90%;
}

.right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
  height:100%;
  width: 187px;
  right: 15%;
}




.signout-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/logout-grey.png);
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  /*position: absolute;
  top: 25%;
  right:0px;*/


}

.signout-button:hover {
  cursor: pointer;
}

.username {
  color: #c6c4c2;
  /*position: absolute;*/
  /*float: left;
  left: 16%;
  top: 30%;*/
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: small;
  margin-right: 20px;
}


.right  a {
  margin-right: 20px;
}
.upload-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/grey-plus-sign.png);
  height: 20px;
  width: 20px;
  /*position: absolute;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*float: left;
  top: 13px;*/

}

.upload-box {
  background: linear-gradient(#3f3f3f,#212121);
  height: 100%;
  width: 70%;

}
