

  .null-session-body{
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }


  video#vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(app/assets/images/drummer.png) no-repeat;
    background-size: cover;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 60px;

  }

  .auth-buttons button {
    height: 45px;
    width:110px;
    display: inline-block;
    position: relative;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    line-height: 4px;
    margin: 10px;
    margin-bottom: 30px;
    letter-spacing: 1px;

  }

  .auth-buttons button:hover {
    cursor: pointer;
    border: 1px solid white;;
  }


  .login {
    background-color: transparent;
  }

  .signup {
    background: linear-gradient(#f48342,#c4652f);
    border: none;
  }

  .logo-div {
    background: url(https://s3-us-west-1.amazonaws.com/loudfog/cloud-2.png) no-repeat 12px 11px;
    background-size: 21px 50px;
    height: 37px;
    width: 97px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



  }
  .title-div{

    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;

  }

  .left-logo-head {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5%;
    left: 4%;
    justify-content: space-between;
    width: 300px;
  }

  .bannerhead-content {
    font-size: xx-large;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 130px;
    text-shadow: 1px 1px 8px grey;
    letter-spacing: 1px;
  }

  .quote {
    font-size: medium;
  }
