.audio-player {
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  border-top: 1px solid black;
  background: #f7f7f7;
  margin:0px;
  padding: 0px;
  left: 0px;
  right: 0px;

}

.audio-player-contents {
  width: 400px;
  height: 100%;
}

.player-play-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/audio_player_play_button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
  top: 4px;
  position: absolute;
}

.player-pause-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/black-pause-512.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 21px;
  width: 15px;
  top: 1px;
  position: absolute;
}


.player-stop-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/Stop-595b4bae5ba036ed117e6ec4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 13px;
  width: 13px;
  top: 5.2px;
  left: 42px;
  position: absolute;
}

.player-progress-bar {
  width: 200px;


}

.audio-player-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 30%;
  top: 16px;
}

.player-volume-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/volume_button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: 32px;
  left: 20px;
}



.player-volume-button-wrapper:hover .volume-slider-parent,
.volume-slider-parent:hover {
  display: block;
}

#volume-slider{
  -webkit-appearance: slider-vertical;
  width: 34px;

}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
   appearance: none;
  background:#f48342;

}

#volume-slider::::-moz-range-thumb {
  background:#f48342;

}

.volume-slider-parent {
  position: absolute;
  display: none;
  top: -160px;
  left: -20px;
  background: #f7f7f7;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.player-volume-button-wrapper {
  position: absolute;
  right: 0px;
  height: 73px;
  width: 80px;
  bottom: 0px;

}

#progress-slider {
  width: 350px;
}
