.audio-player {
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  border-top: 1px solid black;
  background: #f7f7f7;
  margin:0px;
  padding: 0px;
  left: 0px;
  right: 0px;

}

.player-play-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/audio_player_play_button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
  left: 320px;
  top: 15px;
}


.player-progress-bar {
  width: 200px;


}


.player-volume-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/volume_button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
}


.audio-player-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 39%;
  top: 16px;
}
