.audio-player {
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  border-top: 1px solid black;
  background: #f7f7f7;
  margin:0px;
  padding: 0px;
  left: 0px;
  right: 0px;

}

.audio-player-contents {
  width: 400px;
  height: 100%;
}

.player-play-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/audio_player_play_button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
  top: 4px;
  position: absolute;
}

.player-pause-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/black-pause-512.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 15px;
  top: 2px;
  position: absolute;
}


.player-stop-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/Stop-595b4bae5ba036ed117e6ec4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 13px;
  width: 13px;
  top: 5.2px;
  left: 42px;
  position: absolute;
}

.player-progress-bar {
  width: 200px;


}


.player-volume-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/volume_button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
}


.audio-player-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 30%;
  top: 16px;
}
