.song-show-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /*background: #ffaa00;*/
  background: white;
  overflow: scroll;


}

.song-show {
  width:100%;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;

}
