.song-index-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /*background: #ffaa00;*/
  background-color: white;
  overflow: scroll;

}

.song-index {
  width:100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;

}

.feed {
  display: block;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  border-bottom: 2px solid #d8d8d8;
  font-weight: bold;

}
