.song-index-item {
  display: flex;
  width: 100%;
  height: 100px;
  float: left;
  position: relative;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: #f7f7f7;


}

.song-index-item:hover {
  background: #f7f7f7;
}

.song-list {
  width: 80%;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 30px;
  flex-direction: column;
  height: 100%;
}



.song-image {
  width: 100px;
  height: 100px;
  border: 1px solid black;

}

.play-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/play-button.png);
  height: 45px;
  width: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 5px;
}

.pause-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/pause-button.png);
  height: 45px;
  width: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 5px;
}


.play-button:hover,
.pause-button:hover{
  cursor: pointer
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
  margin-top: 7px;

  font-family: 'Montserrat', sans-serif;
}

.song-creator {
  color: #656565;

  font-size: small;
}

.song-title {
  color: black;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1px;
}

.like,
.comment,
.delete,
.edit,
.empty {
  border: 1px solid #f48342;
  color: white;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  position: relative;
}

.like:hover,
.comment:hover,
.delete:hover,
.edit:hover {
  cursor: pointer;
  background-color: #d8d8d8;

  border: 1px dashed #f48342;
}

.like-icon {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/like-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 3px;
  top: -4px;
}

.comment-icon {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/comment-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 2px;
  top: 3px;
}

.delete-icon {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/delete-icon-orange.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 4px;
  top: 2px;
}

.edit-icon {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/edit-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 3px;
  top: 2px;
}

.like-comment-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  justify-content: space-between;
  width: 120px;
}

.empty {
  border: none;
}

.current-user-buttons {
  display: flex;
  flex-direction: row;
  width: 52px;
  justify-content: space-between;

}
.song-image-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

.edit-form-parent {
  color: red;
}

.selected {
  background: #f7f7f7;
}
