.song-show-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /*background: #ffaa00;*/
  background: white;
  overflow: scroll;


}

.song-show {
  width:100%;
  position: relative;
  align-items: center;
  align-content: center;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;

}

.song-show-header-parent {
  background: linear-gradient(#ffd696, #f48342);
  width: 96%;
  height: 222px;
  position: absolute;
  top: 47px;
}
.song-show-header {
  height: 222px;
  width: 95%;
  /*position: absolute;
  top: 47px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;


}

.song-show-header-left {
  width: 30%;
  height: 100%;
}

.song-show-header-right {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;

}
.song-show-header-right img {
  width: 90%;
  height: 90%;

  border: 1px solid black;

}

.song-show-username,
.song-show-title {
  background-color: #323233;
  color: white;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  padding: 2px;
  margin-left: 10px;
  display: inline-table;
  font-weight: bold;

}

.song-show-username {
  color: #b7b7b7;
  font-size: medium;
}

.song-show-title {
  font-size: large;
}
.song-show-play-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/play-button.png);
  height: 45px;
  width: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.song-show-pause-button {
  background: url(https://s3-us-west-1.amazonaws.com/loudfog/pause-button.png);
  height: 45px;
  width: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.song-show-pause-button:hover,
.song-show-play-button:hover {
  cursor: pointer;
}


.song-show-header-left {
  flex-grow: 2;
}

.song-show-top-left {
  display: flex;
  flex-direction: row;
  height: 65px;
  margin-top: 10px;


}

.song-show-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
