.song-index-body {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 100%;
  top: 4.9%;
  background: #ffaa00;
}

.song-index {
  width:100%;
  position: relative;
  align-items: center;
  align-content: center;
  height: 900px;
  background: blue;
}
