.user-show-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /*background: #ffaa00;*/
  background: white;
  overflow-y: scroll;
}

/*.user-show-body::-webkit-scrollbar-track
{
  background-color: white;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.user-show-body::-webkit-scrollbar
{
	width: 4px;
	background-color: #f48342;
}

.user-show-body::-webkit-scrollbar-thumb
{
	background-color: #f48342;
}*/



.user-show {
  width:100%;
  position: relative;
  align-items: center;
  align-content: center;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;

}


.user-show-header-parent {
  background: linear-gradient(#f48342,#ffd696);
  width: 100%;
  height: 222px;
  margin-top: 40px;

}

.user-show-header {
  position: relative;
  height: 222px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 4px;

}

.user-show-username {

  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-transform: capitalize;

}


.user-show-song-list {
    width: 80%;
    list-style: none;
    padding-left: 0px;
    flex-direction: column;
    height: 100%;
    margin-top: 62px;


}


.user-show-avatar-parent {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.user-show-avatar {
  width: inherit;
  height: inherit;
}


.user-show-feed-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: bold;
  margin-top: 15px;

}

.selected-switch {
  color: #f48342;
  text-decoration: underline;
}

.user-show-song-option:hover,
.user-show-liked-option:hover {
  cursor: pointer;
}
