<!DOCTYPE html>
<html>
  <head>
    <title>LoudFog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="icon"
          type="image/png"
          href="https://s3-us-west-1.amazonaws.com/loudfog/play-button.png">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
